build
.idea
cmake-build-debug
duckdb_unittest_tempdir/
.DS_Store
testdb.db
test_dir
notes.txt
test_notes.txt
/src/testqueries.md
/notes_v2.md
/queries.sql
/test_tee.sql
/scripts/benchmark.py
/demo.db
/demo.db.wal
/sql_files/demo.sql
/demo_bench.db
/fib.csv
/notes/notes_v2.md
/scripts/test.py
/test/sql/test_tee_full.sql
/.cache
